@-webkit-keyframes animGr {
    0% {
        background-position: 0px 0px;
    }

    100% {
        background-position: -335px 0px;
    }
}

@-moz-keyframes animGr {
    0% {
        background-position: 0px 0px;
    }

    100% {
        background-position: -335px 0px;
    }
}

@-o-keyframes animGr{
    0% {
        background-position: 0px 0px;
    }

    100% {
        background-position: -335px 0px;
    }
}

@keyframes animGr{
    0% {
        background-position: 0px 0px;
    }

    100% {
        background-position: -335px 0px;
    }
}

@-webkit-keyframes animBg {
    0% {
        background-position: 0px 100%;
    }

    100% {
        background-position: -275px 100%;
    }
}

@-moz-keyframes animBg{
    0% {
        background-position: 0px 100%;
    }

    100% {
        background-position: -275px 100%;
    }
}

@-o-keyframes animBg{
    0% {
        background-position: 0px 100%;
    }

    100% {
        background-position: -275px 100%;
    }
}

@keyframes animBg {
    0% {
        background-position: 0px 100%;
    }

    100% {
        background-position: -275px 100%;
    }
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alegreya', serif;
}

body {
    height: 100vh;
    width: 100vw;
}

.game {
    height: 100vh;
    width: 100vh;
}

.ground {
    background-image: url(images/fg.png);
    background-repeat: repeat-x;
    background-position: 0px 0px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    -webkit-animation: animGr 2516ms linear infinite;
        animation: animGr 2516ms linear infinite;
}

.background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 90%;       
    background-image: url(images/bg.png);
    background-size: cover;
    background-repeat: repeat-x;
    background-position: 0px 100%;
    -webkit-animation: animBg 7s linear infinite;
        animation: animBg 7s linear infinite;
}

.bird {
    height: 14vh;
    width: 7vw;
    position: fixed;
    top: 40vh;
    left: 30vw;
    z-index: 100;

}

.pipe_sprite {
    position: fixed;
    top: 40vh;
    left: 100vw;
    height: 70vh;
    width: 70px;
    background: url(images/pipeBottom.png);
    background-size: cover;
}

.pipe_sprite_inv {
    position: fixed;
    top: 40vh;
    left: 100vw;
    height: 70vh;
    width: 70px;
    background: url(images/pipeBottom.png);
    transform: rotate(180deg);
    background-size: cover;
}

.message {
    position: fixed;
    z-index: 10;
    height: 10vh;
    font-size: 10vh;
    font-weight: 100;
    color: black;
    top: 12vh;
    left: 20vw;
    text-align: center;
}

/*внесено зміни в лічильник балів*/
.score {
    position: fixed;
    z-index: 10;
    height: 8vh;
    font-size: 8vh;
    font-weight: 80;
    color: hwb(0 24% 43% / 0.918);
    top: 0;
    left: 3vh;
}

.score_val {
    color: hwb(0 4% 5% / 0.8);
}

/* Вікна початку і завершення гри */
#start,
#end {
    position: absolute;
    top: 50px;
    left: 40%;
    background: #FFF;
    width: 500px;
    height: 300px;
    border-radius: 20px;
    text-align: center;
    padding: 20px 20px;
    margin: 80px auto;
    font-family: arial black;
    font-size: 24px;
    background-color: rgb(114, 204, 114);
    border: 4px solid rgb(75, 160, 209)
}

/* Кнопки початку і завершення гри */
#start button,
#end button {
    padding: 20px 60px;
    font-size: 24px;
    font-family: arial black;
    background: #317fa3;
    border-radius: 50px;
    border: 4px solid #336184;
    cursor: pointer;
    margin: 50px;
    outline: none;
    color: #FFF;
    text-transform: uppercase;
}

#start button:hover,
#end button:hover {
    background: #6aaac7;
}